User index page :(
<br>
<% @user.visits.each do |user| %>
<p><br />
  <%= user.location %>
  <br />
  <%= user.stakes %>
</p>
<p>
  <%= button_to "X", { action: "destroy", id: @user.visits.id}, {method: :delete, data:{confirm:"Are you sure?"}, :class => "mybutton"}  %>
<% end %>