User index page
<br>
<% @user.visits.each do |visit| %>
<p><br />
  <%= visit.location %>
  <br />
  <%= visit.stakes %>
</p>
<p>
  <%= button_to "X",user_visit_path(@user,visit), {method: :delete, data:{confirm:"Are you sure?"}, :class => "mybutton"}  %>
  <%= link_to "Update", user_visit_path(@user,visit), {method: :update %>
<% end %>