All your logged sessions will go here!

<h1>Display Session Details</h1>
<br>
<ul><% @user.visits.each do |user| %>
  <li>Location: <%= user.location %>
  <li>Stakes: <%= user.stakes %>
    <p>
<% end %>
</ul>